 <title>About Hospital Tracker</title>
<meta name="description" content="The Hospital Tracker is a non-profit social platform aimed to gather these reports against the healthcare giants, 
hospitals, and nursing homes in critical states in India. Instead of just posting on social media, we gather 
authenticated reports against the hospitals or anything related, so that this pack of authenticated reports and 
behaviour can be claimed by the people who practice law or are at a place of power to take action based on authenticated hospital data" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"
    ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"
    ></script>
<style>
body{
 position: relative;
 overflow-y: scroll;
}
</style>
<div class="container">
  <div class="row">

  <div class="col-12">

<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">About The Hospital Tracker</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#fat">The Aim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">Authentication Process</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo1">What is Hospital Tracker?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo2">Data Sources. Is it Authentic?</a>
    </li>
   
  </ul>
</nav>


<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="fat">The Aim</h4>
  <p class="lead">We took this initiative thinking about the people at an urgent need of healthcare but are denied the service because of lack of beds, absence of enough staff, lack of healthcare specialists, or sometimes inevitable reasons like poverty and corruption.  Well these issues were always present but have amped up in this 
COVID-19 pandemic situation. This was a hit to the whole human race devoid of any differences, caste creed, gender, or financial status. But as there are limited healthcare resources versus the gigantic population of our country, it has come to the stage where emergency patients are refused beds, ICUs, ventilators, or sometimes even treatment. 
Some people have been trying hospital after hospital yet failed to save their loved ones. 
Sometimes situations worsen and it becomes very hard to see your loved one in pain. 
<img  src="/HT-PixTeller (2).png" class="card-img" alt="ss"/>  

Situations are worse for the people who don't have any political reach or even enough money to receive healthcare. 
Finally, people resort to social media to make their personal issue public hoping some action would be taken but is that really the case?
The Hospital Tracker is a non-profit social platform aimed to gather these reports against the healthcare giants, 
hospitals, and nursing homes in critical states in India. Instead of just posting on social media, we gather 
authenticated reports against the hospitals or anything related, so that this pack of authenticated reports and 
behaviour can be claimed by the people who practice law or are at a place of power to take action based on authenticated hospital data.
<br>
We do not intend to make profit through this platform as this is for a bigger cause. However if you feel 
the need to make this reach an even greater audience and turn out to be helpful for a bigger crowd,
please feel free to donate.
</p>
  
  <h4 id="mdo">Authentication Process</h4>
  <p class="lead">As soon as you are logged in to your dashboard, you have the 
  option of choosing which category you fall in and thereby submitting your problem.
  As soon as you submit, wait for an email where we would most probably ask for more information and evidence
  to formally accept your report. Until that you are not allowed to submit another report under your category.
 The authentication process would include your identity check and few questionso and a request of proof. 
 We encourage you to try and get any form of evidence to your point. 
 Nevertheless you can submit the report
  even if you think you can justify your point through any other means when you are asked. This is to 
  avoid misleading information to go to the public hence the verification has to go through our team.</p>

  <h4 id="mdo1">What is Hospital Tracker?</h4>
  <p class="lead">The Hospital Tracker is a non-profit social platform aimed to gather these reports against the healthcare giants, 
hospitals, and nursing homes in critical states in India. Instead of just posting on social media, we gather 
authenticated reports against the hospitals or anything related, so that this pack of authenticated reports and 
behaviour can be claimed by the people who practice law or are at a place of power to take action based on authenticated hospital data.</p>
</p>

  <h4 id="mdo2">Data Sources</h4>
  <p class="lead">
    We understand the risks of delivering misleading informationt to the public and we take that
    consideration very seriously. Hence the data here has been obtained from authenticated news reports
    and media sources. Nevertheless if you feel something is wrongly posed or factually incorrect you 
    are welcome to put a rectification report and submit to us. You would be taken through the authentication
    process and if you are proved correct the data can succesfully be rectified. 
  </p>
  </div>
  </div>
</div>
</div>