<h1>Hospital Authentication Form</h1>
<p>Please recieve your authentication ID</p>
<form method="GET" action="/dashboard/hospital_submit/">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="hospital_name">Hospital Name</label>
      <input type="name" class="form-control" id="hospital_name" name="hospital_name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Authentication ID</label>
      <input type="password" class="form-control" id="pass" name="pass">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Available Beds</label>
    <input type="text" class="form-control" id="Address" name="beds" placeholder="1234">
  </div>
  <div class="form-group">
    <label for="inputAddress2">ICUs</label>
    <input type="text" class="form-control" id="icu" name="ICU" placeholder="123">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Ventilators</label>
      <input type="text" class="form-control" id="inputCity" name="vents">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">COVID treatment</label>
      <select id="inputState" class="form-control">
        <option selected>Yes</option>
        <option>No</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>