<h1>Officer Authentication Form</h1>
<form method="GET" action="/dashboard/officer_submit/">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="hospital_name">Name</label>
      <input type="name" class="form-control" id="officer_name" name="officer_name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Authentication ID</label>
      <input type="password" class="form-control" id="pass" name="pass">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="inputPassword4">Contact No.</label>
    <input type="password" class="form-control" id="pass" name="cno">
    </div>
  <div class="form-group col-md-6">
    <label for="inputPassword4">Email</label>
    <input type="password" class="form-control" id="pass" name="em">
    </div>
  </div>
 <input type="hidden" name="username" id="username" value="<%- user%>" ></input>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>