<head>
  <title>Hospital Tracker|Register</title>
  <meta name="description" content="The Hospital Tracker is a non-profit social platform aimed to gather these reports against the healthcare giants, 
hospitals, and nursing homes in critical states in India. Instead of just posting on social media, we gather 
authenticated reports against the hospitals or anything related, so that this pack of authenticated reports and 
behaviour can be claimed by the people who practice law or are at a place of power to take action based on authenticated hospital data" />
</head>
<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <% include ./partials/messages %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div class="form-group col-md-4">
          <div class="g-recaptcha" data-sitekey="6LeaCfQUAAAAAMOslmAXwBLJtJVHKKyeeYlUYu8P
"></div>

          <script type="text/javascript">
            var onloadCallback = function() {
            grecaptcha.render('', {
            'sitekey' : '6LeaCfQUAAAAAMOslmAXwBLJtJVHKKyeeYlUYu8P
            '
            });
            };
          </script>
        </div>
        <button id="recap" type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
        
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
    <div class="card mb-3" style="max-width:100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/SqQWbJb.png" class="card-img" alt="ss">
    </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" href="/app">The Hospital Tracker</h5>
            <p class="card-text">A handy tool to get your hospital's information.</p>
            <p class="card-text">
              <a href="/app">
                <i class="fa fa-download" aria-hidden="true"></i> Download
              </a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

  
