<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <style>
    .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    }
    
    html .ui-autocomplete {
    height: 100px;
    } 
  </style>
   <?xml version="1.0" encoding="utf-8"?>

</head>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4>Tracking Healthcare</h4>
     <div class="ui-widget" style="z-index:9999">
 <form action="/search" method="POST" class="form-inline my-2 my-lg-0" id="chutiya" style="width:90%;display:flex;flex-direction: row;flex-flow:row;">
      <input style="width:90%" class="form-control mr-sm-2" id="hospital_search" type="search" placeholder="Search Hospital" aria-label="Search"/>
      <button  id="bakwas" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
 </form>  
  
     </div>
  <p>Get information on your hospital - Refusals,Beds and much more...</p>
    <small>Information here is either from recognized news or from authentic crowdsourced information</small>

  </div>
</div>

<div class="container-fluid" >

<div id="info" >

</div>
<div class="card mb-3" style="max-width:100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/SqQWbJb.png" class="card-img" alt="ss">
    </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" href="/app">The Hospital Tracker</h5>
            <p class="card-text">A handy tool to get your hospital's information.</p>
            <p class="card-text">
              <a href="/app">
                <i class="fa fa-download" aria-hidden="true"></i> Install Our App
              </a>
            </p>
          <p class="card-text">
            The Hospital Tracker is a non-profit social platform aimed to gather these reports against the healthcare giants, 
hospitals, and nursing homes in critical states in India. Instead of just posting on social media, we gather 
authenticated reports against the hospitals or anything related, so that this pack of authenticated reports and 
behaviour can be claimed by the people who practice law or are at a place of power to take action based on authenticated hospital data.</p>
<br> We understand the risks of delivering misleading informationt to the public and we take that
    consideration very seriously. Hence the data here has been obtained from authenticated news reports
    and media sources. Nevertheless if you feel something is wrongly posed or factually incorrect you 
    are welcome to put a rectification report and submit to us.
          </p>
          </div>

        </div>
      </div>
    </div></div>


<script type="text/javascript">
   $(document).on('click','#rectify',function(ev)  {
  ev.preventDefault();
  var str1 = $("#hospital_search"). val();
  console.log(str1);
//console.log("rectify"); 
                                                                                                       
url="/rectify/";
  $.ajax({
    type: "GET",
    url:url,
    data: {q: str1},
    success: function(res){
      if(str!=""){
      
      }
      },
  error: function(err){
  console.log("rectify error:"+err);
  }
      
    
  });
})

  
  
  $('#bakwas').click(function(ev)  {
  ev.preventDefault();
  var str = $("#hospital_search"). val();
  //console.log(str);
  $("#info").empty();
console.log("clicked");
url="/search/";
  $.ajax({
    type: "GET",
    url:url,
    data: {q: str},
    dataType: "jsonp",
    success: function(res){
      //now we can access stuff off res
      if(str!=""){
      $('#info').append(`
      <div class="card mb-3" >
  <div class="card-body">
    <h5 id="hospital-rectify" class="card-title">${res[0].Hospital}</h5>
    <p class="card-text">Info:${res[0].info}</p>
        <p class="card-text">Beds to be increased:${res[0].Beds}</p>
    <p class="card-text">ICU(s):${res[0].ICU}</p>
    <p class="card-text">Ventilators:${res[0].Ventilators}</p>
  <p>
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Refusal cases
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
<p class="card-text"><small>${res[0].Refusals}<small></p>
</div>
</div>

    
  <p><em>This information is extracted from the news and authenticated crowdsourced information</em></p>

    <a  href="/users/login"  class="btn btn-primary">Rectify data?</a>
    <a  href="/users/login"  class="btn btn-success">Submit a Problem</a>

  </div>
</div>
      
      `);
      }
      },
  error: function(err){
  console.log("ajax error:"+err);
  }
      
    
  });
});
  $(function () {
  $("#hospital_search").autocomplete({
  source: function (request, response) {
  $.ajax({
  url: "/autocomplete",
  type: "GET",
  data: request,  // request is the value of search input
  success: function (data) {
  var dataArray = [];

                    for(var i in data){
                        dataArray.push(data[i].Hospital+","+data[i].State);}
  response(dataArray);
  //console.log(data);
  },
  error: function(err){
  console.log(err);
  }
  });
  },
  
  select: function( event, ui ) {
        $( "#hospital_search" ).val( ui.item.label );
        
        return false;
      }
  });//autoc
  });//func
</script>